---
layout: sezionelocale
title: Verona

extras:
  - label: Referente
    value: antonio.faccioli@linux.it
---

<p>
    Nata dagli studenti del <a href="https://311verona.org/" rel="nofollow">311 Verona</a> e supportata da <a href="https://www.fondazioneedulife.org/" rel="nofollow">Fondazione Edulife</a>.
</p>
