---
layout: page
title: {{ page.title }}
---

<div class="row post_page">
    <div class="col-12 col-md-9">
        <article itemscope itemtype="https://schema.org/Article">
            {% if page.image and page.image != '/assets/images/default-social.png' %}
                <div class="news_title mb-2" style="background-image: url('{{ page.image }}')"></div>
                {% if page.image_copy %}
                    <p class="text-right"><small>{{ page.image_copy }}</small></p>
                {% endif %}

                <h1 class="post-title display-3">{{ page.title }}</h1>
            {% else %}
                <h1 class="post-title display-3">{{ page.title }}</h1>
            {% endif %}

            <time datetime="{{ page.date }}">Pubblicato il {{ page.date | date: '%d.%m.%Y' }}</time>
            <div class="content">
                {{ page.content }}
            </div>

            {% assign publish_date = page.date | date: '%Y-%m-%d' %}
            {% if publish_date > '2021-03-18' %}
                {% if jekyll.environment == "production" %}
                    <div class="mt-5">
                        <div id="discourse-comments"></div>
                        <script type="text/javascript">
                            DiscourseEmbed = { discourseUrl: 'https://forum.linux.it/',
                            discourseEmbedUrl: '{{site.url}}{{page.url}}' };

                            (function() {
                                var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
                                d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                            })();
                        </script>
                    </div>
                {% endif %}
            {% endif %}
        </article>
    </div>
    <div class="col-12 col-md-3">
        {% include sidebar.html %}
    </div>
</div>
